@page "/edit/{id:int}"
@inherits EditBase

<h3>Edit post</h3>

<EditForm Model="Command" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">
        <label for="title">Title</label>
        <InputText id="title" @bind-Value="Command.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="slug">Slug</label>
        <input id="slug" value="@Model.Slug" class="form-control" readonly />
    </div>
    <div class="form-group">
        <InputTextArea @bind-Value="Command.Body" class="form-control" rows="20" />
    </div>
    <div class="text-right">
        <ValidationSummary />
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
</EditForm>