@page "/posts"
@inherits ListBase

<h1>Every post ever</h1>

@if (Model != null)
{
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li><a href="/@post.Slug">@post.Title</a></li>
        }
    </ul>
}