@using SlackClone.Domain
@using SlackClone.Features.Messages
@using SlackClone.Features.Reactions

<div class="message-container">

    @if (editMode)
    {
        <EditMessage MessageText="@Details.Message"
                     OnUpdated="@HandleMessageChanged"
                     OnCancelled="@HandleEditCancelled" />
    }
    else
    {
        @if (overlayVisible)
        {
            <div class="overlay">
                <div class="text">Edit</div>
            </div>
        }

        <div class="message"
             @onclick="ToggleEdit"
             @onmouseover="ShowOverlay"
             @onmouseout="HideOverlay">
            <Message Details="Details" />
        </div>


    }
    <div style="pointer-events:@disableReaction"><Reactions /></div>
</div>


@code {

    [Parameter]
    public SlackMessage Details { get; set; }

    private bool overlayVisible;
    private bool editMode;
    protected string disableReaction { get { return editMode ? "none" : "visible"; } }

    void ShowOverlay()
    {
        overlayVisible = true;
    }

    void HideOverlay()
    {
        overlayVisible = false;
    }

    void ToggleEdit()
    {
        editMode = true;
        overlayVisible = false;
    }

    void HandleEditCancelled()
    {
        editMode = false;
    }

    void HandleMessageChanged(string newMessage)
    {
        Details.Message = newMessage;
        editMode = false;
    }


}